$padding: 8px;
$margin: 8px;
$radius: 4px;
$color-special: rgb(26, 117, 8);
$main-color: #2c3e50;
$color-light: #fff;
$color-shadow: #e8e8e8;
$color-border: #ddd;
$color-popup: rgba(64, 64, 64, 0.4);
$color-btn: #ff0000;